
$background: url('../assets/imgs/notepad_background.jpg');

$default-color: black;
$dark-color: white;

$primary_color: #1E2A42;
$button_color: #E56C6C;
$icon_color: #3B97D3;
$confirm_color: #6CC85D;