$gradient-background: radial-gradient(circle, rgba(255,0,254,1) 20%, rgba(0,255,180,1) 91%);
$gradient-background2: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

$background: url('../assets/imgs/bg-01.jpg');

$default-color: black;
$dark-color: white;

